<div id="about" class="section">
  <%= mail_to "lindseyevejacobson@gmail.com", image_tag("http://lindseyevejacobson.files.wordpress.com/2012/12/img_5239c1.jpg?w=255&h=300", :id =>"profile-image") %>
  <h3 id="email"><%= mail_to "lindseyevejacobson@gmail.com" %>
  <h3 id="phone">(516) 459-2959</h3>

</div>