<div id="resume" class="section">


<p class="cv-line first">Colgate University<span class="date">Hamilton, NY; Bachelor of Arts 2010</span></p>
<p class="job">Magna Cum Laude/GPA: 3.58</p>
<p class="job">Major: Sociology and Anthropology GPA: 3.74</p>
<p class="job">Minor: Film and Media Studies GPA: 3.50</p>
<p class="job">Dean’s Award for Academic Excellence Spring 2007-May 2010</p>


<p class="cv-line">Maroon Goes Green, Filmmaker<span class="date">Hamilton, NY Spring 2008</span></p>
<p class="job">Appointed to presented four original PSAs: Planet Survival Announcements regarding Colgate University’s carbon footprint at the National Conference for Undergraduate Research</p>


<h2>Work Experience</h2>


</div>