<a class= "vidlink" href="http://vimeo.com/moogaloop.swf?clip_id=<%= video.host_identifier %>&amp;amp;server=vimeo.com&amp;amp;show_title=1&amp;amp;show_byline=1&amp;amp;autoplay=1" title="<%= video.title %>" rel="shadowbox;width=900;height=506;">
	<i class="play icon-play-circle"></i>
  <%= image_tag video.image_url, :class => "vidimage" %>
</a>