<div id="work" class="section">
    <% Video.all.each do |video| %>
      
      <a href="http://www.youtube.com/embed/H620VHaNjfA?autoplay=1" rel="shadowbox" class="vid-link" data-link="<%= video.link %>"><img class="vid-image" src="<%= video.photo %>"></a>

    <% end %>
</div>