<a href="http://www.youtube.com/embed/<%= video[:id] %>?autoplay=1" rel="shadowbox" title="<%= video[:title] %>" data-link="http://www.youtube.com/embed/<%= video[:id] %>?autoplay=1">
  <%= image_tag video[:image], :class => "vidimage" %>
</a>