<a class= "vidlink" href="http://www.youtube.com/embed/<%= video[:id] %>?autoplay=1" rel="shadowbox" title="<%= video[:title] %>" data-link="http://www.youtube.com/embed/<%= video[:id] %>?autoplay=1">
	<i class="play icon-play-circle"></i>
  <%= image_tag video[:image], :class => "vidimage" %>
</a>