<div id="index-controller">
  <div id="left">
    <%= render partial: "layouts/left_bar" %>
  </div>

  <div id="right">
    <% @videos.each_with_index do |video, index| %>
      <div class="videobox <%= index % 2 == 0 ? 'left' : 'right' %>">
        <% if video.host == "vimeo" %>
          <%= render :partial => "videos/vimeo", :locals => {:video => video} %>
        <% elsif video.host == "youtube" %>
          <%= render :partial => "videos/youtube", :locals => {:video => video} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
