<div id="container">
  <div id="header">
    <h1>lindsey eve jacobson</h1>
    <h3>video editor + animator</h3>
  </div>
  <hr>

  <div id="navigation">
    <ul id="nav-link-list">
      <li><a href="#" class="nav-link" data-name="work">work</a></li>
      <li><a href="#" class="nav-link" data-name="cv">c.v.</a></li>
      <li><a href="#" class="nav-link" data-name="resume">resume</a></li>
      <li><a href="#" class="nav-link" data-name="about">about + contact</a></li>

    </ul>
  </div>
  <hr>

  <div id="content">
    <%= render :partial => "about" %>
    <%= render :partial => "resume" %>
    <%#= render :partial => "work" %>
    <%= render :partial => "work_slider" %>
    <%= render :partial => "cv" %>
  </div>

</div>