<div id="container">
  <div id="header">
    <h1>lindsey eve jacobson</h1>
    <h3>video editor + animator</h3>
  </div>
  <hr>

  <div id="navigation">
    <ul id="nav-link-list">
      <li><a href="#" class="nav-link on" data-name="work">portfolio</a></li>
      <li><a href="#" class="nav-link" data-name="about">contact</a></li>
    </ul>
  </div>
  <hr>

  <div id="content">
    <%= render :partial => "about" %>
    <%= render :partial => "work_slider" %>
    <%#= render :partial => "cv" %>
  </div>
</div>

