<% @videos.each do |video| %>
  <div class="videobox">
    <% if video.host == "vimeo" %>
      <%= render :partial => "vimeo", :locals => {:video => video} %>
    <% elsif video.host == "youtube" %>
      <%= render :partial => "youtube", :locals => {:video => video} %>
    <% end %>
  </div>
<% end %>
