// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { background-color:white;}
.container { width: 820px; margin: auto; padding-top: 40px; }
h1,h2,h3,a { color: #C03FFF; font-family: Arial, sans-serif;}


#left {
  width: 185px;
  float: left;
  margin-right: 10px;
  padding: 25px 10px 0px 10px;
  border-top: 2px solid #C03FFF;
}
#right {
  width: 600px;
  float: left;
  border-top: 2px solid #C03FFF;
  padding-top: 25px;
}
#logo   { width: 164px;
          &:hover{cursor: default;}
}
#brand  { width: 100%; margin: 20px 0; color: #C03FFF; font-size: 17px;
  p {font-family: Arial, sans-serif;}
}
#name {margin: 0;}
#editor {margin-top: 5px;}

.videobox {
  float: left;
  width: 290px;
  overflow: hidden;
  margin: 0 5px 10px 5px;
  position: relative;
  background-color: #C03FFF;
  vertical-align: middle;
}

.vidimage { width: 100%;}

.vidlink{ &:hover{text-decoration: none; opacity: .85;}}

.soc          { width: 28px}
#contact      { margin-left: 5px;}
.contact-link { color: #C03FFF; font-family: Arial, sans-serif;
  &:hover {color: #C03FFF; text-decoration: none;}

}
.icon { font-size: 18px;}
.email-item {
  margin-top: 5px;
  span{font-size: 13px;}
}
.phone-item {
  margin-top: 5px;
  span{font-size: 13px;}
}

#contact { margin: 20px 0; }

.play {position: absolute;
       font-size: 59px;
       top: 72px;
       left: 121px;
       color: white;
       &:hover{text-decoration: none;}
}


//admin

label{ display: inline-block; width: 110px; color: #C03FFF;}
th {text-align: left; color: #C03FFF; width: 50px;}
td {color: #C03FFF;}
.title {width: 220px;}
.flash {color: #C03FFF; margin-bottom: 50px;}
.instructions {font-style: italic;}
