// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body { background-color:white;}
.container { width: 870px; margin: auto; padding-top: 40px; }
h1,h2,h3,a { color: #C03FFF; font-family: Arial, sans-serif;}


#left {
  width: 220px;
  float: left;
  margin-right: 20px;
  padding-top: 15px;
  border-top: 2px solid #C03FFF;
}
#right {
  width: 600px;
  float: left;
  border-top: 2px solid #C03FFF;
  padding-top: 25px;
}
#logo{ width: 100%; margin-bottom: 15px;
  &:hover{cursor: default;}
}

#contact-text{
  .video-editor {margin: 20px 0;}
  a:hover {text-decoration: none;}
  .mail-link{
    margin-top: 8px; display: block; margin-bottom: 8px;
  }
  div{ color:#C03FFF; a{color:#C03FFF;}}
}

#social-links {
  margin-top: 5px;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    table-layout: fixed; /* optional */
  }

  li {
    padding: 5px;
    display: table-cell;
    width: auto;
    text-align: center;
  }
  .soc {width: 45px;}
}

.videobox {
  float: left;
  width: 295px;
  overflow: hidden;
  margin: 0 5px 10px 5px;
  position: relative;
  background-color: #C03FFF;
  vertical-align: middle;
  &.left {margin-left: 0;}
  &.right {margin-right: 0;}
}


.vidlink{
  img{width: 100%;}
  &:hover{text-decoration: none; opacity: .85;}
}

.play {
  display:block; position: absolute; top:50%; left:50%;
  margin-top:-8px; margin-left:-23px; font-size: 60px;
 color: white;
  &:hover{text-decoration: none;}
}


#sb-container {width: 100%!important; height: 100%!important;}
//admin

label{ display: inline-block; width: 110px; color: #C03FFF;}
th {text-align: left; color: #C03FFF; width: 50px;}
td {color: #C03FFF;}
.title {width: 220px;}
.flash {color: #C03FFF; margin-bottom: 50px;}
.instructions {font-style: italic;}



//responsive!

$grid-float-breakpoint: 730px;

@media(max-width:729px){
  .container {width: 100%; padding-top: 0;}
  #left, #right { width: 100%; float: none; border: none;}

  #logo {width: 50%; display: block; margin: 0 auto;}

  .videobox {width: 100%; margin: 0 0 15px 0;}

  #social-links {
    li {padding: 10px;}
    .soc {width: initial; max-width: 100%;}
  }
}

@media(min-width:730px){

}
