// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container { width: 900px; margin: auto; padding-top: 40px; }

#left {
  width: 200px;
  float: left;
  margin-right: 10px;
  padding: 25px 10px 0px 10px;
  border-top: 2px solid #000000;
}
#right {
  width: 600px;
  float: left;
  border-top: 2px solid #000000;
  padding-top: 25px;
}
#logo   { width: 100%}
#brand  { width: 100%; margin-top: 25px;}

.videobox {
  float: left;
  width: 290px;
  overflow: hidden;
  margin: 0 5px 10px 5px;
  position: relative;
  background-color: #000000;
  vertical-align: middle;
  padding: -5px 0px 0px 0px;
  &:hover {}
}

.vidimage { width: 100%;}

body { background-color:#CCCCCC;}


#container       { width: 70%; margin: auto; padding-top: 40px; padding-bottom: 50px;}
#navigation      { }

#header h1 {margin: 0px;}
#header h3 {margin: 0px; color: #0F4DA8;}

hr {margin: 10px 0 10px 0; border-color: #333;}

#nav-link-list                   { list-style-type: none; padding: 10px 0 10px 0; margin: 0 auto 0 auto; width:295px;}

#nav-link-list li                { display: inline; margin-left: 8%; font-size: 30px; line-height: 45px;}
#nav-link-list li:first-child    { margin-left: 0px;}

.nav-link                         { color: #333; padding: 10px 10px 10px 10px; }
.nav-link:hover                   { color: #0F4DA8; text-decoration: none; }

.on                               { color: white; background-color: #0F4DA8; }
.on:hover                         { color: white; text-decoration: none; }


.section { display: none; padding-left: 30px; }
.active  { display: block;}

#content { margin-top: 30px; position: relative;}





// about 
////////////////////////////////////////////////////

#profile-image { margin: auto; float: left; border-radius: 4px;}
#profile-image:hover {opacity: .8;}
#about h3      { text-align: center;}
#phone         { margin-bottom: 30px;}
#email         { padding-top: 50px; font-size: 30px;
  a{color:#0F4DA8;}
}

#soclinks {
  margin: 0 auto;
  text-align: center;
}
 
.soclink {
  height: 100px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
 
.soclink:hover {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}


//videos
////////////////////////////////////////////////////

.vid-image      { width: 100%; margin-bottom: 3px;}
.vid-link       { width: 45%; display:inline-block;}

//videos with slider

.video-slider {         padding-left: 0px;
  .vid-link             { margin: 0px; display:inline;}
  .vid-image-slider     { max-width: none; margin: 0; height: 480px; width: 640px;}
  #video-slider-list    { position: relative; white-space: nowrap; margin: 0; right: 0px;}
  #video-slider-list li { margin: 0; display: table-cell; width: auto; text-align: center;}
  #window               { height:480px; width:640px; margin: 0 auto 0 auto; overflow-x: hidden;}

}
.circle                 { display:inline-block; width:30px; height:30px; border-radius:30px; position: relative; bottom: 5px; background:black; }
.active-video-page      { bottom: 0; width:40px; height:40px; border-radius:40px; background: #0F4DA8;}
#page-links             { text-align: center; margin-top: 30px;}

.shifter                { font-size: 200px; position: absolute; top: 215px; font-family: "Gurmukhi MN"; color: #0F4DA8}
.shifter:hover          { text-decoration: none;}
.shifter-left           { left: 0;}
.shifter-right          { right: 0;}

.play-button            { position: absolute; opacity: 0.82; height: 150px; margin-left: 252px; margin-top: 170px;}

//cv
////////////////////////////////////////////////////


.cv-line { font-size: 26px; font-weight: bold; margin-top: 20px; margin-bottom: 5px; line-height: 28px; 
a{color:#0F4DA8}
}
.short {font-size: 23px;}
.first   { margin-top: 0px;}
.date    { font-size: 14px; font-style: italic; margin-left: 15px; color: #FF6400;}
.job     { font-size: 18px; line-height: 25px; margin-left: 20px; margin-bottom: 5px;}


