<!DOCTYPE html>
<html>
<head>
  <title>Quentin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript">
Shadowbox.init({
    handleOversize: "resize",
    initialWidth: 600,
    initialHeight: 400,
    overlayOpacity: .8,
    resizeDuration: .3,
    animSequence: "sync"
});
</script>

</head>
<body>

<%= yield %>

</body>
</html>
